In [94]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as skl
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import MinMaxScaler

In [95]:
df = pd.read_csv('C:/Users/Owner/Desktop/git/그 외/상하이 대학교 순위/shanghai-ranking_2023.csv')

In [96]:
df

,Rank,Logo,Name,Link,Website,Flag,Country,Region,Foundation_year,Address,Intro,Total_Enrollment,Total_International_Enrollment,UG_Enrollment,International_UG_Enrollment,PG_Enrollment,International_PG_Enrollment,latitude,longitude
0,1,https://www.shanghairanking.com/_uni/logo/032b...,Harvard University,https://www.shanghairanking.com/institution/ha...,http://www.harvard.edu,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1636,"Harvard University, Cambridge, Massachusetts ...",Harvard University is devoted to excellence in...,41987,24.0,14467,10.1,27520,20.1,42.367909,-71.126782
1,2,https://www.shanghairanking.com/_uni/logo/13de...,Stanford University,https://www.shanghairanking.com/institution/st...,http://www.stanford.edu,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1885,450 Serra Mall,Stanford University is a research university t...,16163,24.0,6994,10.7,9169,34.2,37.431314,-122.169365
2,3,https://www.shanghairanking.com/_uni/logo/7916...,Massachusetts Institute of Technology (MIT),https://www.shanghairanking.com/institution/ma...,http://web.mit.edu/,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1861,77 Massachusetts Avenue,The essence of MIT is our appetite for problem...,11084,16.8,4276,14.5,6808,18.2,42.358253,-71.096627
3,4,https://www.shanghairanking.com/_uni/logo/8d98...,University of Cambridge,https://www.shanghairanking.com/institution/un...,http://www.cam.ac.uk,https://www.shanghairanking.com/_pub/country-f...,United Kingdom,Europe,1318,"The Old Schools, Trinity Lane",The University of Cambridge’s mission is to co...,19875,36.9,12265,23.3,7610,58.9,52.210946,0.092005
4,5,https://www.shanghairanking.com/_uni/logo/0ff1...,"University of California, Berkeley",https://www.shanghairanking.com/institution/un...,http://berkeley.edu/,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1868,"University of California, Berkeley, Berkeley,...",Berkeley is internationally noted for its acad...,39874,17.7,29250,19.0,10624,13.9,37.875500,-122.239069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,901-1000,https://www.shanghairanking.com/_uni/logo/1702...,Xinjiang University,https://www.shanghairanking.com/institution/xi...,https://en.wikipedia.org/wiki/Xinjiang_University,https://www.shanghairanking.com/_pub/country-f...,China,Asia,1924,NaN,NaN,27010,13.3,19561,10.1,7793,20.1,43.836840,87.575326
996,901-1000,https://www.shanghairanking.com/_uni/logo/5762...,Xuzhou Medical College,https://www.shanghairanking.com/institution/xu...,https://gjjyen.xzhmu.edu.cn/,https://www.shanghairanking.com/_pub/country-f...,China,Asia,1958,NaN,NaN,27010,13.3,19561,10.1,7793,20.1,34.265655,117.169064
997,901-1000,https://www.shanghairanking.com/_uni/logo/5020...,Yangtze University,https://www.shanghairanking.com/institution/ya...,https://english.yangtzeu.edu.cn/,https://www.shanghairanking.com/_pub/country-f...,China,Asia,2003,NaN,NaN,27010,13.3,19561,10.1,7793,20.1,30.724085,111.311412
998,901-1000,https://www.shanghairanking.com/_uni/logo/4f15...,Yeshiva University,https://www.shanghairanking.com/institution/ye...,http://www.yu.edu,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1886,500 West 185 Street,Yeshiva University has been transforming lives...,7112,13.3,2947,10.1,4165,20.1,31.763492,35.191497
999,901-1000,https://www.shanghairanking.com/_uni/logo/9316...,Zhongnan University of Economics and Law,https://www.shanghairanking.com/institution/zh...,http://www.znufe.edu.cn,https://www.shanghairanking.com/_pub/country-f...,China,Asia,1948,"182# Nanhu Avenue, East Lake High-tech Develo...",Zhongnan University of Economics and Law (ZUEL...,27010,13.3,19561,10.1,7793,20.1,30.476433,114.380180

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            1000 non-null   object
 1   Logo                            1000 non-null   object
 2   Name                            1000 non-null   object
 3   Link                            1000 non-null   object
 4   Website                         1000 non-null   object
 5   Flag                            1000 non-null   object
 6   Country                         1000 non-null   object
 7   Region                          1000 non-null   object
 8   Foundation_year                 1000 non-null   int64
 9   Address                         862 non-null    object
 10  Intro                           592 non-null    object
 11  Total_Enrollment                1000 non-null   int64
 12  Total_International_Enrollment  1000 non-null   float64
 13  UG_Enrollment                   1000 non-null   int64
 14  International_UG_Enrollment     1000 non-null   float64
 15  PG_Enrollment                   1000 non-null   int64
 16  International_PG_Enrollment     1000 non-null   float64
 17  latitude                        917 non-null    float64
 18  longitude                       917 non-null    float64
dtypes: float64(5), int64(4), object(10)
memory usage: 148.6+ KB

In [98]:
df.describe()

,Foundation_year,Total_Enrollment,Total_International_Enrollment,UG_Enrollment,International_UG_Enrollment,PG_Enrollment,International_PG_Enrollment,latitude,longitude
count,1000.000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,917.000000,917.000000
mean,1726.741,27010.644000,13.33340,19561.065000,10.100500,7793.595000,20.099300,34.320514,26.825972
std,527.095,19383.039632,32.89275,15218.509129,13.672082,4948.463575,43.997877,20.772549,82.762267
min,0.000,248.000000,0.00000,139.000000,0.000000,32.000000,0.000000,-45.864979,-157.818692
25%,1836.000,16179.500000,4.77500,13739.250000,5.200000,4662.500000,8.800000,30.696858,-43.223002
50%,1911.000,27010.000000,11.70000,19561.000000,10.100000,7793.000000,20.100000,38.348247,14.208582
75%,1958.000,32806.500000,15.00000,20874.250000,10.100000,7821.500000,20.100000,46.583834,114.393805
max,2020.000,221036.000000,1000.00000,320000.000000,367.000000,37009.000000,1342.000000,69.681907,175.616500

In [99]:
df.tail()

,Rank,Logo,Name,Link,Website,Flag,Country,Region,Foundation_year,Address,Intro,Total_Enrollment,Total_International_Enrollment,UG_Enrollment,International_UG_Enrollment,PG_Enrollment,International_PG_Enrollment,latitude,longitude
995,901-1000,https://www.shanghairanking.com/_uni/logo/1702...,Xinjiang University,https://www.shanghairanking.com/institution/xi...,https://en.wikipedia.org/wiki/Xinjiang_University,https://www.shanghairanking.com/_pub/country-f...,China,Asia,1924,NaN,NaN,27010,13.3,19561,10.1,7793,20.1,43.836840,87.575326
996,901-1000,https://www.shanghairanking.com/_uni/logo/5762...,Xuzhou Medical College,https://www.shanghairanking.com/institution/xu...,https://gjjyen.xzhmu.edu.cn/,https://www.shanghairanking.com/_pub/country-f...,China,Asia,1958,NaN,NaN,27010,13.3,19561,10.1,7793,20.1,34.265655,117.169064
997,901-1000,https://www.shanghairanking.com/_uni/logo/5020...,Yangtze University,https://www.shanghairanking.com/institution/ya...,https://english.yangtzeu.edu.cn/,https://www.shanghairanking.com/_pub/country-f...,China,Asia,2003,NaN,NaN,27010,13.3,19561,10.1,7793,20.1,30.724085,111.311412
998,901-1000,https://www.shanghairanking.com/_uni/logo/4f15...,Yeshiva University,https://www.shanghairanking.com/institution/ye...,http://www.yu.edu,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1886,500 West 185 Street,Yeshiva University has been transforming lives...,7112,13.3,2947,10.1,4165,20.1,31.763492,35.191497
999,901-1000,https://www.shanghairanking.com/_uni/logo/9316...,Zhongnan University of Economics and Law,https://www.shanghairanking.com/institution/zh...,http://www.znufe.edu.cn,https://www.shanghairanking.com/_pub/country-f...,China,Asia,1948,"182# Nanhu Avenue, East Lake High-tech Develo...",Zhongnan University of Economics and Law (ZUEL...,27010,13.3,19561,10.1,7793,20.1,30.476433,114.380180

In [100]:
df.shape

(1000, 19)

In [101]:
df.head()

,Rank,Logo,Name,Link,Website,Flag,Country,Region,Foundation_year,Address,Intro,Total_Enrollment,Total_International_Enrollment,UG_Enrollment,International_UG_Enrollment,PG_Enrollment,International_PG_Enrollment,latitude,longitude
0,1,https://www.shanghairanking.com/_uni/logo/032b...,Harvard University,https://www.shanghairanking.com/institution/ha...,http://www.harvard.edu,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1636,"Harvard University, Cambridge, Massachusetts ...",Harvard University is devoted to excellence in...,41987,24.0,14467,10.1,27520,20.1,42.367909,-71.126782
1,2,https://www.shanghairanking.com/_uni/logo/13de...,Stanford University,https://www.shanghairanking.com/institution/st...,http://www.stanford.edu,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1885,450 Serra Mall,Stanford University is a research university t...,16163,24.0,6994,10.7,9169,34.2,37.431314,-122.169365
2,3,https://www.shanghairanking.com/_uni/logo/7916...,Massachusetts Institute of Technology (MIT),https://www.shanghairanking.com/institution/ma...,http://web.mit.edu/,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1861,77 Massachusetts Avenue,The essence of MIT is our appetite for problem...,11084,16.8,4276,14.5,6808,18.2,42.358253,-71.096627
3,4,https://www.shanghairanking.com/_uni/logo/8d98...,University of Cambridge,https://www.shanghairanking.com/institution/un...,http://www.cam.ac.uk,https://www.shanghairanking.com/_pub/country-f...,United Kingdom,Europe,1318,"The Old Schools, Trinity Lane",The University of Cambridge’s mission is to co...,19875,36.9,12265,23.3,7610,58.9,52.210946,0.092005
4,5,https://www.shanghairanking.com/_uni/logo/0ff1...,"University of California, Berkeley",https://www.shanghairanking.com/institution/un...,http://berkeley.edu/,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1868,"University of California, Berkeley, Berkeley,...",Berkeley is internationally noted for its acad...,39874,17.7,29250,19.0,10624,13.9,37.875500,-122.239069

In [102]:
#대학 이름에 대한 단축 코드를 준비

df['Link'].head()

0    https://www.shanghairanking.com/institution/ha...
1    https://www.shanghairanking.com/institution/st...
2    https://www.shanghairanking.com/institution/ma...
3    https://www.shanghairanking.com/institution/un...
4    https://www.shanghairanking.com/institution/un...
Name: Link, dtype: object

In [103]:
#대학교 이름에 대한 단축 코드 분리

df['code_name'] = df['Link'].str.split('institution/').str[1]

df['code_name'].head()

0                           harvard-university
1                          stanford-university
2    massachusetts-institute-of-technology-mit
3                      university-of-cambridge
4            university-of-california-berkeley
Name: code_name, dtype: object

In [104]:
#데이터 정리

df.isna().sum()

Rank                                0
Logo                                0
Name                                0
Link                                0
Website                             0
Flag                                0
Country                             0
Region                              0
Foundation_year                     0
Address                           138
Intro                             408
Total_Enrollment                    0
Total_International_Enrollment      0
UG_Enrollment                       0
International_UG_Enrollment         0
PG_Enrollment                       0
International_PG_Enrollment         0
latitude                           83
longitude                          83
code_name                           0
dtype: int64

In [105]:
df['Rank'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '37', '38', '39', '41', '43', '44', '46', '48', '49', '50',
       '51', '52', '54', '55', '56', '57', '58', '59', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', '76', '77', '78',
       '79', '80', '81', '82', '83', '84', '86', '88', '91', '93', '94',
       '95', '96', '98', '101-150', '151-200', '201-300', '301-400',
       '401-500', '501-600', '601-700', '701-800', '801-900', '901-1000'],
      dtype=object)

In [106]:
#이러한 순위에 레이블 인코딩에 유용한 범주를 할당

#Assigning a category to these rank that would be useful for label encoding.

#such as

#top 50 : S class.
#between 50-100 : A1 class.
#between 100-150 : A2 class.
#between 150-200 : A class.
#between 200-300 : B1 class.
#between 300-400 : B2 class.
#between 400-500 : B class.
#between 500-600 : C1 class.
#between 600-700 : C2 class.
#between 700-800 : C class.
#between 800-900 : D class.
#between 900-1000 : E class.

In [107]:
for index, value in enumerate(df["Rank"]):
    if value == "901-1000":
        df.at[index, "Class"] = 'E'
    elif value == "801-900" :
        df.at[index, "Class"] = 'D'
    elif value == "701-800" :
        df.at[index, "Class"] = 'C'
    elif value == "601-700" :
        df.at[index, "Class"] = 'C2'
    elif value == "501-600" :
        df.at[index, "Class"] = 'C1'
    elif value == "401-500" :
        df.at[index, "Class"] = 'B'
    elif value == "301-400" :
        df.at[index, "Class"] = 'B2'
    elif value == "201-300" :
        df.at[index, "Class"] = 'B1'
    elif value == "151-200" :
        df.at[index, "Class"] = 'A'
    elif value == "101-150" :
        df.at[index, "Class"] = 'A2'
    elif int(value) > 50 and int(value) <= 100:
        df.at[index, "Class"] = 'A1'
    else:
        df.at[index, "Class"] = 'S'

df["Class"].unique()

array(['S', 'A1', 'A2', 'A', 'B1', 'B2', 'B', 'C1', 'C2', 'C', 'D', 'E'],
      dtype=object)

In [108]:
#사용할 수 없는 특성을 삭제

#df.drop(['Rank','Logo','Name','Link','Website','Flag','Address','Intro','latitude','longitude'],axis=1,inplace=True)

In [109]:
#처리를 위해 데이터 집합을 준비

In [110]:
label_encoder = LabelEncoder()
df['encoded_country'] = label_encoder.fit_transform(df['Country'])
df['encoded_region'] = label_encoder.fit_transform(df['Region'])
df['encoded_rank']= label_encoder.fit_transform(df["Class"])

vectorizer = CountVectorizer(token_pattern=r'(?u)\b\w+(?:-\w+)+\b')
university_vectors = vectorizer.fit_transform(df['code_name']).toarray()
university_df = pd.DataFrame(university_vectors, columns=vectorizer.get_feature_names_out())

numerical_features = ['Foundation_year','Total_Enrollment', 'Total_International_Enrollment','UG_Enrollment','International_UG_Enrollment','PG_Enrollment','International_PG_Enrollment']

scaler = MinMaxScaler()
df[numerical_features] = scaler.fit_transform(df[numerical_features])

df_processed = pd.concat([university_df,df[['encoded_rank','encoded_country', 'encoded_region']] ,df[numerical_features]], axis=1)

df_processed.head()

,aalborg-university,aalto-university,aarhus-university,adam-mickiewicz-university,addis-ababa-university,agh-university-of-science-and-technology,ain-shams-university,air-force-medical-university,aix-marseille-university,ajou-university,...,encoded_rank,encoded_country,encoded_region,Foundation_year,Total_Enrollment,Total_International_Enrollment,UG_Enrollment,International_UG_Enrollment,PG_Enrollment,International_PG_Enrollment
0,0,0,0,0,0,0,0,0,0,0,...,11,61,4,0.809901,0.189046,0.0240,0.044794,0.027520,0.743381,0.014978
1,0,0,0,0,0,0,0,0,0,0,...,11,61,4,0.933168,0.072083,0.0240,0.021431,0.029155,0.247100,0.025484
2,0,0,0,0,0,0,0,0,0,0,...,11,61,4,0.921287,0.049079,0.0168,0.012934,0.039510,0.183249,0.013562
3,0,0,0,0,0,0,0,0,0,0,...,11,60,2,0.652475,0.088895,0.0369,0.037910,0.063488,0.204938,0.043890
4,0,0,0,0,0,0,0,0,0,0,...,11,61,4,0.924752,0.179475,0.0177,0.091011,0.051771,0.286448,0.010358

In [121]:
#가공데이터 유사도 계산
cosine_sim = cosine_similarity(df_processed, df_processed)

# 이름별로 유사한 기록 기반 대학을 구하는 기능
def get_similar_universities_by_name(university_name):
    target_university_index = data.index[data['code_name'] == university_name].tolist()[0]
    
    # 대상대학 제외
    similar_universities = data.iloc[cosine_sim[target_university_index].argsort()[::-1]]
    return similar_universities
                      
    #대학 지명
    target_university_name = 'swiss-federal-institute-of-technology-lausanne'  
    similar_universities = get_similar_universities_by_name(target_university_name)
    
    print(f"Similar universities based on {target_university_name} records.")
    
    similar_universities["short_name"].head(10)